<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Bicy desennuvem{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <h1>Bicy desennuvem</h1>
  </header>
  
  <nav>
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('register_page') }}">Registrar</a></li>
      <li><a href="{{ url_for('login_page') }}">Login</a></li>
      <li><a href="{{ url_for('profile_page') }}">Perfil</a></li>
      <li><a href="{{ url_for('products_page') }}">Loja</a></li>
      <li><a href="{{ url_for('view_cart_page') }}">Carrinho</a></li>
    </ul>
  </nav>
  
  <div class="content">
    {% block content %}{% endblock %}
  </div>
  
  <footer>
    <p>&copy; 2025 Bicy desennuvem. Todos os direitos reservados.</p>
  </footer>
</body>
</html>
